 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <form method="POST" action="/new">
        <h1>New Message</h1>
        <label for="name">Name:</label>
        <input maxlength="20" name = "name" type="text" id = "name">
        <label for="text">Message:</label>
        <input maxlength = '50' name = "message" type="text" id = "message">
        <button class = "submit" type = "submit" >Submit</button>
        
     </form>
</body>
</html>