<div class="message">
    <div class="messageText"><%= message.message %></div> <!-- escape HTML -->
    <div class="messageUser"><%= message.name %></div>
    <div class="messageDate"><%= message.date %></div>
  </div>
  