<div class="message">
    <div class="messageText"><%= message.text %></div> <!-- escape HTML -->
    <div class="messageUser"><%= message.user %></div>
    <div class="messageDate"><%= message.added.toDateString() %></div>
  </div>
  